@charset "UTF-8";

#PersonalMailboxOption > span > span.flex-truncate.with-count-badge.collapse,
#MailOption > span > span.flex-truncate.with-count-badge.collapse {
	display: inline;
}

/* 크기 맞추기 시작 */
textarea#incomeMail,
textarea#referenceMail,
textarea#hiddenReferenceMail {
	width: 105% !important;
}

input#subject{
	width: 101.5% !important;
}
/* 크기 맞추기 끝 */